Xft.dpi:			96
Xft.antialias:			1
Xft.rgba:			rgb
Xft.hinting:			true
Xft.hintstyle:			hintslight
!Xft.lcdfilter:			lcddefault

!Blur Terminal
URxvt*blurRadius:		10

URxvt.depth:			32
URxvt.geometry:			90x30
URxvt*transparent:		true
URxvt*shading:			15
URxvt.fading:			5
URxvt.loginShell:		true
URxvt.saveLines:		2000
URxvt.internalBorder:		3
URxvt.lineSpace:		0

! Fonts
URxvt.allow_bold:		false
URxvt*font:			xft:Ubuntu:pixelsize=12:style=Medium
URxvt*boldFont:			xft:Ubuntu:pixelsize=12:style=Bold

! Fix font space
URxvt*letterSpace:		-3

! Scrollbar
URxvt.scrollStyle:		rxvt
URxvt.scrollBar:		false

! Perl extensions
URxvt.perl-ext-common:		default,cwd-spawn
URxvt.matcher.button:		1
URxvt*keysym.M-o:		perl:cwd-spawn

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #dc0000
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

!! Ctrl+Arrow to move faster
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C



!Colors from https://terminal.sexy/

! special
*.foreground:   #a8a19f
*.background:   #09090A
*.cursorColor:  #a8a19f

! black
*.color0:       #1b1918
*.color8:       #766e6b

! red
*.color1:       #f22c40
*.color9:       #f22c40

! green
*.color2:       #5ab738
*.color10:      #5ab738

! yellow
*.color3:       #d5911a
*.color11:      #d5911a

! blue
*.color4:       #407ee7
*.color12:      #407ee7

! magenta
*.color5:       #6666ea
*.color13:      #6666ea

! cyan
*.color6:       #00ad9c
*.color14:      #00ad9c

! white
*.color7:       #a8a19f
*.color15:      #f1efee
