Xft.dpi:                    96
Xft.antialias:              1
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight
!Xft.lcdfilter:		    lcddefault
!Blur Terminal
!URxvt*blurRadius: 10

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt*transparent:          false
URxvt*shading:              15
URxvt.fading:               5
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            4000
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           false
!URxvt*font:                 xft:Liberation Mono:pixelsize=13:antialias=true:hinting=true
!URxvt*boldFont:             xft:Liberation Mono:bold:pixelsize=13:antialias=true:hinting=true

!URxvt*font:		xft:Ubuntu:pixelsize=12:style=Medium
URxvt*font:            xft:Ubuntu:pixelsize=11:style=Bold

! Fix font space
URxvt*letterSpace: -3

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,cwd-spawn
URxvt.matcher.button:       1
URxvt*keysym.M-o: perl:cwd-spawn

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #373B41
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

!! Ctrl+Arrow
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

! special
*.foreground:   #b4ccbf
*.background:   #0e1210
*.cursorColor:  #b4ccbf

! black
*.color0:       #181d1a
*.color8:       #46c08c

! red
*.color1:       #202522
*.color9:       #edac96

! green
*.color2:       #2f3733
*.color10:      #b7bd32

! yellow
*.color3:       #454f49
*.color11:      #a49afc

! blue
*.color4:       #5f6d65
*.color12:      #afa7f8

! magenta
*.color5:       #7f9087
*.color13:      #fba37f

! cyan
*.color6:       #a4baae
*.color14:      #a299ee

! white
*.color7:       #d0e8db
*.color15:      #9a91e9






