Xft.dpi:                    96
Xft.antialias:              1
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight
!Xft.lcdfilter:		    lcddefault
!Blur Terminal
!URxvt*blurRadius: 10

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt*transparent:          false
URxvt*shading:              15
URxvt.fading:               5
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            4000
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           false
!URxvt*font:                 xft:Liberation Mono:pixelsize=13:antialias=true:hinting=true
!URxvt*boldFont:             xft:Liberation Mono:bold:pixelsize=13:antialias=true:hinting=true

!URxvt*font:		xft:Ubuntu:pixelsize=12:style=Medium
!URxvt*font:            xft:Ubuntu:pixelsize=11:style=Bold
!URxvt*font:            xft:SourceCodePro+Powerline+Awesome\ Regular:pixelsize=11
!URxvt*font:		xft:DejaVu Sans Mono for Powerline:style=Bold:pixelsize=11
!URxvt*font:		xft:MesloLGL Nerd Font:style=RegularForPowerline:pixelsize=11
URxvt*font:		xft:MesloLGS NF:style=Bold:pixelsize=11

! Fix font space
!URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,cwd-spawn
URxvt.matcher.button:       1
URxvt*keysym.M-o: perl:cwd-spawn

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #373B41
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

!! Ctrl+Arrow
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

! special - Monokai Color Scheme
*.foreground:   #f8f8f2
*.background:   #272822
!*.background:	#000000
*.cursorColor:  #f8f8f2

! black
*.color0:       #272822
*.color8:       #75715e

! red
*.color1:       #f92672
*.color9:       #f92672

! green
*.color2:       #a6e22e
*.color10:      #a6e22e

! yellow
*.color3:       #f4bf75
*.color11:      #f4bf75

! blue
*.color4:       #66d9ef
*.color12:      #66d9ef

! magenta
*.color5:       #ae81ff
*.color13:      #ae81ff

! cyan
*.color6:       #a1efe4
*.color14:      #a1efe4

! white
*.color7:       #f8f8f2
*.color15:      #f9f8f5
